* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #7F3FBF;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 900px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.icon-bot img {
    width: 70px; 
    height: 55px; 
}

.user-icon img {
    width: 45px; 
    height: 40px; 
}

main {
    background-color: #4A148C;
    border-radius: 20px;
    text-align: left;
    align-items: flex-start;
    padding-left: 50px;
    size: 40px;

}

.logo {
    flex: 1;
    text-align: left;
}

.menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    
}

.logo img {
    margin-bottom: 30px;
    size: 30px;
}

.menu-button {
    background-color: #9C27B0;
    border: none;
    color: white;
    font-size: 40px;
    padding: 20px 50px;
    border-radius: 30px;
    display: flex;
    text-align: left;
    align-items: flex-end;
    flex: 1;
    margin-bottom: 20px;
    cursor: pointer;
    width: 70%;
    justify-content: center;
}

.menu-button .icon img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.menu-button:hover {
    background-color: #6A1B9A;
}

.menu-button jogos {
    align-items: flex-end;
    flex: 1;
    text-align: right;
}