.bg-purple {
  background-color: #9716D4; /* Tom de roxo */
}

@font-face {
font-family: 'Nauman';
src: url('Nauman-Regular.ttf') format('opentype');
font-weight: normal;
font-size: normal;
}

body {
font-family: 'Nauman';
margin: 0;
background-color: #f0f0f0;
}

nav {
background-color: #9716D4;
padding: 10px 0;
}

.menu-container {
display: flex;
justify-content: space-between;
align-items: center;
width: 90%;
max-width: 1200px;
margin: 0 auto;
}

.logo {
color: white;
font-size: 24px;
font-weight: bold;
padding-left: 20px;
}

.menu {
list-style: none;
display: flex;
margin: 0;
padding-right: 20px;
}

.menu li {
margin: 0 15px;
}

.menu li a {
color: white;
text-decoration: none;
font-size: 16px;
}

.menu li a:hover {
text-decoration: underline;
}

.game-container {
text-align: center;
padding: 50px 20px;
}

#game-board {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
gap: 15px;
justify-content: center; /* Centraliza horizontalmente */
max-width: 800px; /* Limite de largura máxima */
margin: 0 auto;
}

.card {
width: 150px;
height: 150px;
background-color: #9716D4; /* Fundo roxo */
color: #fff;
font-size: 24px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border-radius: 10px;
transition: transform 0.3s;
}

.card img {
display: none;
width: 100px;
}

.card.flipped img {
display: block;
}

.card.flipped .cover {
display: none;
}

.card:hover {
transform: scale(1.05);
}
